@using MVCSTOK.Models.Entitiy;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<urunler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ürün Id</th>
        <th>Ürün Adı</th>
        <th>Kategori</th>
        <th>Ürün Fiyatı</th>
        <th>Ürün markası</th>
        <th>Kalan Stok</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
       
    </tr>
    <tbody>
        @foreach (var urun in Model)
        {
            <tr>
                <th>@urun.urun_id</th>
                <td>@urun.urun_adi</td>
                <td>@urun.kategoriler.kategori_adi</td>
                <td>@urun.fiyat</td>
                <td>@urun.marka</td>
                <td>@urun.stok</td>
                <td>@Html.ActionLink("SİL", "SIL", new { id = urun.urun_id }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediginize emin misiniz')" })</td>
                <td><a href="/Urun/UrunGetir/@urun.urun_id" class="btn btn-success">GÜNCELLE</a></td>
                

            </tr>
        }


    </tbody>

</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Urun/YeniUrun/" class="btn btn-primary">YENİ ÜRÜN EKLE</a>


